<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Today</div>
      <div class="item item-body">
        <div>

        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Yesterday</div>
      <div class="item item-body">
        <div>

        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Summary</div>
      <div class="item item-body">
        <div>
          <p>Average hours per day this week:</p>
          <p>Average hours per day this month:</p>
          <p>Average hours per day this year: </p>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
